*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    background-color: rgb(28, 69, 70);
    border-radius: 20px ;
    border: 20px solid rgb(123, 123, 142);
    box-shadow: 10px 8px 9px rgb(114, 52, 52);
    margin: 10% auto;
}
td input{
    width: 210px;
    height: 30px;
    font-size: 22px;
    background-color: palegreen;
}
button{
    border: 5px solid rgb(182, 136, 136);
    width: 50px;
    height: 50px;
    background-color: rgb(140, 112, 177);
    color: black;
}
#plus{
    height: 104px;
}
td button{
    font-size: 30px ;
}


